flow.json
[
    {
        "id": "66742658.e5d518",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bd941b6d.1b60f8",
        "type": "inject",
        "z": "66742658.e5d518",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "ddc5cbe3.aafe88"
            ]
        ]
    },
    {
        "id": "ddc5cbe3.aafe88",
        "type": "trigger",
        "z": "66742658.e5d518",
        "op1": "1",
        "op2": "0",
        "op1type": "num",
        "op2type": "num",
        "duration": "1",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 300,
        "y": 80,
        "wires": [
            [
                "80f5fb5b.38a1e8"
            ]
        ]
    },
    {
        "id": "5edb3b78.89a144",
        "type": "debug",
        "z": "66742658.e5d518",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "80f5fb5b.38a1e8",
        "type": "pi-gpiod out",
        "z": "66742658.e5d518",
        "name": "",
        "host": "$(HOST_IP)",
        "port": 8888,
        "pin": "21",
        "set": "",
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "x": 500,
        "y": 80,
        "wires": []
    },
    {
        "id": "59d0082d.1e6018",
        "type": "pi-gpiod in",
        "z": "66742658.e5d518",
        "name": "",
        "host": "$(HOST_IP)",
        "port": 8888,
        "pin": "20",
        "intype": "PUD_OFF",
        "debounce": "25",
        "read": false,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "5edb3b78.89a144"
            ]
        ]
    },
    {
        "id": "e9cfc547.2fded8",
        "type": "openweathermap",
        "z": "66742658.e5d518",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Winchester",
        "country": "UK",
        "language": "en",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "10b7bfc0.b3f27",
                "933f84e0.fba278"
            ]
        ]
    },
    {
        "id": "10b7bfc0.b3f27",
        "type": "debug",
        "z": "66742658.e5d518",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "55926cbb.756df4",
        "type": "inject",
        "z": "66742658.e5d518",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "e9cfc547.2fded8"
            ]
        ]
    },
    {
        "id": "933f84e0.fba278",
        "type": "debug",
        "z": "66742658.e5d518",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 490,
        "y": 300,
        "wires": []
    },
    {
        "id": "b5aab6a.a007448",
        "type": "inject",
        "z": "66742658.e5d518",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 520,
        "wires": [
            [
                "990e92ed.160ad"
            ]
        ]
    },
    {
        "id": "990e92ed.160ad",
        "type": "function",
        "z": "66742658.e5d518",
        "name": "",
        "func": "context.count = (context.count || 0) + 1;\nvar count = context.count;\n\nreturn [{payload:count&1},\n        {payload:(count&2)/2},\n        {payload:(count&4)/4},\n        {payload:(count&8)/8},\n        {payload:(count&16)/16},\n        {payload:(count&32)/32},\n        {payload:(count&64)/64},\n        {payload:(count&128)/128}\n    ];",
        "outputs": 8,
        "noerr": 0,
        "x": 290,
        "y": 520,
        "wires": [
            [
                "8da1e608.2a7a88"
            ],
            [
                "df8e6fe6.2eb99"
            ],
            [
                "20a3b3f3.35565c"
            ],
            [
                "93551ae0.2858e8"
            ],
            [
                "1513f932.57c0f7"
            ],
            [
                "20a0c336.847b4c"
            ],
            [
                "d1140970.da0728"
            ],
            [
                "dbb9bc60.db0ec"
            ]
        ]
    },
    {
        "id": "8da1e608.2a7a88",
        "type": "pi-gpiod out",
        "z": "66742658.e5d518",
        "name": "",
        "host": "$(HOST_IP)",
        "port": 8888,
        "pin": "4",
        "set": "",
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "x": 490,
        "y": 380,
        "wires": []
    },
    {
        "id": "df8e6fe6.2eb99",
        "type": "pi-gpiod out",
        "z": "66742658.e5d518",
        "name": "",
        "host": "$(HOST_IP)",
        "port": 8888,
        "pin": "17",
        "set": "",
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "x": 500,
        "y": 420,
        "wires": []
    },
    {
        "id": "20a3b3f3.35565c",
        "type": "pi-gpiod out",
        "z": "66742658.e5d518",
        "name": "",
        "host": "$(HOST_IP)",
        "port": 8888,
        "pin": "27",
        "set": "",
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "x": 500,
        "y": 460,
        "wires": []
    },
    {
        "id": "93551ae0.2858e8",
        "type": "pi-gpiod out",
        "z": "66742658.e5d518",
        "name": "",
        "host": "$(HOST_IP)",
        "port": 8888,
        "pin": "18",
        "set": "",
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "x": 500,
        "y": 500,
        "wires": []
    },
    {
        "id": "1513f932.57c0f7",
        "type": "pi-gpiod out",
        "z": "66742658.e5d518",
        "name": "",
        "host": "$(HOST_IP)",
        "port": 8888,
        "pin": "22",
        "set": "",
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "x": 500,
        "y": 540,
        "wires": []
    },
    {
        "id": "20a0c336.847b4c",
        "type": "pi-gpiod out",
        "z": "66742658.e5d518",
        "name": "",
        "host": "$(HOST_IP)",
        "port": 8888,
        "pin": "23",
        "set": "",
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "x": 500,
        "y": 580,
        "wires": []
    },
    {
        "id": "d1140970.da0728",
        "type": "pi-gpiod out",
        "z": "66742658.e5d518",
        "name": "",
        "host": "$(HOST_IP)",
        "port": 8888,
        "pin": "24",
        "set": "",
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "x": 500,
        "y": 620,
        "wires": []
    },
    {
        "id": "dbb9bc60.db0ec",
        "type": "pi-gpiod out",
        "z": "66742658.e5d518",
        "name": "",
        "host": "$(HOST_IP)",
        "port": 8888,
        "pin": "25",
        "set": "",
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "x": 500,
        "y": 660,
        "wires": []
    }
]