flow.json
[
    {
        "id": "66742658.e5d518",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bd941b6d.1b60f8",
        "type": "inject",
        "z": "66742658.e5d518",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "ddc5cbe3.aafe88"
            ]
        ]
    },
    {
        "id": "ddc5cbe3.aafe88",
        "type": "trigger",
        "z": "66742658.e5d518",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 300,
        "y": 80,
        "wires": [
            [
                "bd26c339.29a96"
            ]
        ]
    },
    {
        "id": "bd26c339.29a96",
        "type": "rpi-gpio out",
        "z": "66742658.e5d518",
        "name": "",
        "pin": "40",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 500,
        "y": 80,
        "wires": []
    },
    {
        "id": "59b0eeec.95ee7",
        "type": "rpi-gpio in",
        "z": "66742658.e5d518",
        "name": "",
        "pin": "38",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "5edb3b78.89a144"
            ]
        ]
    },
    {
        "id": "5edb3b78.89a144",
        "type": "debug",
        "z": "66742658.e5d518",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 450,
        "y": 160,
        "wires": []
    }
]